.Gradient {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background: linear-gradient(227deg, #06beb6, #2E7B2E);
    background: -webkit-animation: Gradient 8s ease infinite;
    background: -moz-animation: Gradient 8s ease infinite;
    background: -o-animation: Gradient 8s ease infinite;
    animation: Gradient 8s ease infinite;
    background-attachment: fixed;
    line-height: 1em;
}
.img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

.text {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 35px;
}

.Contacts {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: table;
}

.Slideshow {
    border-radius: 50%;
    display: table;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width:350px;
    height:300px;
    overflow:hidden; 
    position: relative; 
}

.Slideshow img{ 
    object-fit: cover;
    position:absolute;
    animation:Slideshow 25s infinite; 
    opacity:0;
    width: 100%;
    height: auto;
}

@keyframes Slideshow {
    25%{
        opacity:1;
    } 
    40%{
        opacity:0;
    }
} 
.Slideshow img:nth-child(5){
    animation-delay:0s;
}
.Slideshow img:nth-child(4){
    animation-delay:5s;
}
.Slideshow img:nth-child(3){
    animation-delay:10s;
}
.Slideshow img:nth-child(2){
    animation-delay:15s;
}
.Slideshow img:nth-child(1){
    animation-delay:20s;
}

.a1 {   
    color: #fff !important;
    text-transform: uppercase;
    background: black;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    display: inline-block;
    border: none;
}

.a1:hover {
    background: linear-gradient(#06beb6, #2E7B2E);
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.a2 {   
    color: #fff !important;
    background: black;
    text-transform: uppercase;
    padding: 20px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 5px;
    display: inline-block;
    border: none;
}

.a2:hover {
    background: linear-gradient(#06beb6, #2E7B2E);
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}


